[Unit]

Description=gunicorn daemon
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/root/code/outline-gateway
Environment="PATH=/root/code/outline-api/env/bin"
ExecStart=/root/code/outline-api/env/bin/gunicorn -w 1 -k uvicorn.workers.UvicornWorker --bind 0.0.0.0:5000 main:app

[Install]
WantedBy=multi-user.target
